.tabs {
  color: brown;
}

.paper {
  color: red;

}

.login-links {
  text-decoration: none;
}

.login-links:hover {
  text-decoration: underline;
  
}

.post-container {
  margin: 20px;
  padding: 10px;
}